#menu{
	display: flex;
	flex-direction: column;
	background-color: var(--mainGreen);
	margin: auto;
	padding: 1rem;
	/* height: 100%; */
}

.cart-box{
	display: flex;
	height: 6rem;
	justify-content: right;
}

.cart-button{
	height: 4rem;
	width: 4rem;
	border: none;
	border-radius: 0.4rem;
	background-color: var(--mainWhite);
}

#menu-header{
	color: var(--mainWhite);
	font-size: 2rem;
	text-shadow: 1px 1.5px 1px rgba(0, 0, 0, 0.911);
}

#menu-container, .drink-dips-container{
	border-radius: 0.3rem;
	margin-bottom: 1rem;
	background-color: var(--lightGray);
}

.menu-item{
	color: var(--mainWhite);
	padding: 0.8rem;
}

.menu-item:not(:last-child){
	border-bottom: dotted 1.5px rgba(255, 255, 255, 0.329);
}

.menu-item-inner, .drink-dip-inner{
	display: flex;
	gap: 0.3rem;
}

.menu-item-inner *, .drink-dip-inner *{
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 0.4rem;
	color: var(--mainWhite);
}

.dotted-divider{
	border-bottom: dotted 2px var(--mainWhite);
	flex-grow: 1;
}

.drink-dip{
	color: var(--mainWhite);
	background-color: var(--lightGray2);
	padding: 0.5rem;
	border-radius: 0.4rem;
}

.drink-dip-selections{
	display: flex;
	flex-wrap: wrap;
	gap: 0.85rem;
}

.drink-dip-inner{
	margin-bottom: 1rem;
}

.drink-dips-container{
	padding: 0.8rem;
}